.#{$ui-prefix}-button {
  width: 100%;
  margin: 16px 0;
  background-color: #ff6868;
  border: 0;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

.#{$ui-prefix}-button:hover {
  background-color: #ff7d7d;
  cursor: pointer;
}
